.footer-iframe{
overflow-x: hidden!important;
width: 100%;border:none;height: 1500px;
}

.footer-iframe body{
	display: flex;
	overflow-x: hidden!important;
}
.footer-iframe body .container{
	margin: auto;
} 
@media (min-width: 1216px ){
.footer-iframe{
  height: 220px!important;
}
}
@media (max-width: 1216px){
.footer-iframe{
  height: 300px!important;
}
}
@media (max-width: 800px){
.footer-iframe{
  height: 400px!important;
}
}
@media (max-width: 500px){
.footer-iframe{
  height: 400px!important;
}
}
@media (max-width: 420px){
.footer-iframe{
  height: 700px!important;
}
}
@media (max-width: 320px){
.footer-iframe{
  height: 1000px!important;
}
}